<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Mr. Arindam
            <span class="text-primary">Roy</span> 
        </h1>
        <div class="subheading mb-5">
            <p>
                <span class="tag-line">Full Stack Developer</span>
            </p>
            <p class="crunch-p-2">
                <span class="tag-line">9 Years of Experience in Software Development</span>
            </p>
            <p class="mt-5">
                <span><small>Call & WhatsApp:</small> <span class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;<strong>9836395513 / 8240062226</strong></span></span>
            </p>
            <p class="crunch-p-2">
                <span><small>Email:</small> <span class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:arindam.roy.developer@email.com"> <strong>arindam.roy.developer@email.com</strong></a></span></span>
            </p>
        </div>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/arindam-roy-2014/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/dev-arindam-roy" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://twitter.com/Arindam71961974" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="https://www.facebook.com/arindam.roy.codemaster/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="social-icon" href="https://www.youtube.com/channel/UCaBTKbOsqOOkhAZk7pZNBcA/videos" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</section>