<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Qualifications</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="subheading mb-5">
                <p>
                    <span class="tag-line"><span class="text-primary">@2012</span> - Master of Computer Application (M.C.A)</span>
                </p>
                <p>
                    <span class="tag-line"><span class="text-primary">@2009</span> - Graduate in Science (B.S.C)</span>
                </p>
                <p>
                    <span class="tag-line"><span class="text-primary">@2005</span> - Higher Secondary (12th)</span>
                </p>
                <p>
                    <span class="tag-line"><span class="text-primary">@2003</span> - Secondary (10th)</span>
                </p>
            </div>
        </div>
    </div>
</section>