<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Biography</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <div class="subheading mb-3"><strong>Objective:</strong></div>
                <p>To work in a competitive environment that effectively utilizes my analytical, interpersonal,
                    leadership and
                    organizational skills to conceive and achieve solutions. The solutions which help the organization
                    in not only meeting
                    its targets, but also allowing it to grow, thereby, enhancing my own skills as an individual and as
                    a key player in the
                    organization's development.</p>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <div class="subheading mb-3"><strong>Summary:</strong></div>
                <ul>
                    <li>
                        Since September 2012, have 8 years of extensive hands on experience of developing and deploying
                        n-tier
                        based applications.
                    </li>
                    <li>
                        Leading a project, manage team, project architecture & flow design, database & model design, API
                        extends & implementation, Complex & critical issue solve, security issue solve, write algorithm
                        & more..
                    </li>
                    <li>
                        Work as a dedicated resource for NTTPC (Japan), Multotec (South Africa), Vinlec(South Africa),
                        Emerio (Singapore), Close-Line (Australia) & more..
                    </li>
                    <li>
                        An experienced team player with excellent communication and interpersonal skills who has the
                        ability to
                        work independently under pressure can lead, motivate and influence to hers and can train and
                        mentor
                        subordinates.
                    </li>
                    <li>
                        Currently working as Application CRM Developer & Architecture at Karmick Solution Pvt. Ltd.
                    </li>
                    <li>
                        M.C.A in Computer Technology in 2012 from WBUT.
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <div class="subheading mb-3"><strong>Major Role & Activities:</strong></div>
                <ul>
                    <li>
                        Handling team
                    </li>
                    <li>
                        Projects and Requirement analysis 
                    </li>
                    <li>
                        Projects architecture design
                    </li>
                    <li>
                        Data process flow & Database architecture design and implementation
                    </li>
                    <li>
                        Dev, QA, Staging, Production - deployment
                    </li>
                    <li>
                        Co-ordinate with clients for technical requirement analysis and implementation 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>